

<div class='jumbotron'>
  <h1>Welcome to Fiber</h1>
  <p>Landing Page</p>

  <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Search</button>
      </span>
    </div>
</div>

<link href="assets/javascripts/owlcarousel/owl.carousel.css" rel="sylesheet">

      <div class="owlcarousel">
          <div class="item">
              <img src="http://lorempicsum.com/futurama/600/400/1">
          </div>
           <div class="item">
              <img src="http://lorempicsum.com/futurama/600/400/1">
          </div>
           <div class="item">
              <img src="http://lorempicsum.com/futurama/600/400/1">
          </div>
           <div class="item">
              <img src="http://lorempicsum.com/futurama/600/400/1">
          </div>
          <div class="item">
              <img src="http://lorempicsum.com/futurama/600/400/1">
          </div>
           <div class="item">
              <img src="http://lorempicsum.com/futurama/600/400/1">
          </div>
        </div>

<script src="assets/javascripts/owlcarousel/owl.carousel.min.js"></script>
<script src="assets/javascripts/app.js"></script>









